@import url(../fonts/GothamBook.css);
@import url(../fonts/GothamBold.css);
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.pagina::-webkit-scrollbar {
	width: 7px;
}

.pagina::-webkit-scrollbar-thumb {
	background: #ff9d00;
	border-radius: 5px;
}

body{
	background: #319B8F;
}


a{
	text-decoration: none;
}

header{
	position: fixed;
	width: 100%;
}

h1{
	font-size: 26px;
	font-family: 'arial';
    font-weight: bold;
    letter-spacing: 1px;
}
.header{
	color: #FFF;
	background: #142b3b;
	height: 35px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}
.optionsBar{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.optionsBar span {
    color: #FFF;
    font-size: 11pt;
    font-family: 'GothamBook';
    text-transform: uppercase;
    margin-left: 30px;
}

.close{
	width: 25px;
    height: 25px;
}
.optionsBar a {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-left: 30px;
}
nav ul{
	background: #142b3b;
	/*background: #05817d;*/
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: left;
	align-items: center;
}
nav ul > li a{
	position: relative;
}
nav a{
	color: #FFF;
	display: block;
	font-size: 10pt;
	font-family: 'GothamBook';
	padding: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: background .5s;
	border-right: 1px solid #142b3b;
}
nav .principal > a{
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
    background-position: 94% center;
    background-size: 10px;
}
nav ul li:hover ul{
	display: block;
}
nav li ul{
	/*background: #177470;*/
	background: #142b3b;
	display: none;
	flex-direction: column;
	position: absolute;
	align-items: flex-start;
	border-radius: 0 0 10px 10px;
}
nav li ul a{
	position: relative;
	padding: 10px 30px;
	border-right: initial;
}
nav li ul a:hover{
	/*background: #2c9595;*/
	background: #319B8F;
}
nav li ul li:last-child{
	border-radius: 0 0 10px 10px;
	overflow: hidden;
}
#container{
	padding: 90px 15px 15px;
}

.spotifyApi{
	margin: 40px;
	text-align: center;
}

.spotify{
	witdh: 175px;
    height: 175px;
	
}

.youtubeApi{
	margin: 45px;
	text-align: center;
	margin-bottom: 75px;
}

.youtube{
	witdh: 260px;
    height: 260px;	
}

.musixmatchApi{
	margin: 30px;
	text-align: center;
}

.musixmatch{
	witdh: 110px;
    height: 110px;
	
}
