<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>HelloWorld</servlet-name>
		<servlet-class>aiss.HelloWorldServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloWorld</servlet-name>
		<url-pattern>/helloworld</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- Youtube -->

	<servlet>
		<display-name>VideoMusicController</display-name>
		<servlet-name>VideoMusicController</servlet-name>
		<servlet-class>aiss.controller.VideoMusicController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VideoMusicController</servlet-name>
		<url-pattern>/VideoMusicController</url-pattern>
	</servlet-mapping>

	<!-- MusixMatch -->

	<servlet>
		<display-name>MusixMatchController</display-name>
		<servlet-name>MusixMatchController</servlet-name>
		<servlet-class>aiss.controller.MusixMatchController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MusixMatchController</servlet-name>
		<url-pattern>/MusixMatchController</url-pattern>
	</servlet-mapping>

	<!-- Spotify -->

	<servlet>
		<servlet-name>SpotifyController</servlet-name>
		<servlet-class>aiss.controller.SpotifyController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SpotifyController</servlet-name>
		<url-pattern>/SpotifyController</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DislikeSpotify</servlet-name>
		<servlet-class>aiss.controller.DislikeSpotifyController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DislikeSpotify</servlet-name>
		<url-pattern>/DislikeSpotify</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LikeSpotify</servlet-name>
		<servlet-class>aiss.controller.LikeSpotifyController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LikeSpotify</servlet-name>
		<url-pattern>/LikeSpotify</url-pattern>
	</servlet-mapping>
	
	
	<!-- Back2young -->

	<servlet>
		<servlet-name>Back2youngController</servlet-name>
		<servlet-class>aiss.controller.Back2youngController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Back2youngController</servlet-name>
		<url-pattern>/Back2youngController</url-pattern>
	</servlet-mapping>

	<!-- OAUTH SERVLETS For each OAuth 2.0 service, you need to create two servlets: 
		one for the initiation and another for the callback. After sucess the token 
		for the provider will be available in the session scope under the name <provider>-token. 
		E.g.: Spotify-token. Those servlets support 2 parameters: - provider: which 
		is mandatory and specifies the configuration from the OAuthConfig.json file 
		which will be applied. - onSuccess: which is optional specifies the behaviour 
		of the servlet after an successful authorization. If you specify close as 
		the value of the parameter, the page will close. If you specify redirect:XXXX, 
		the page will be redirected to XXXX. WARNING: The url-patterns of all the 
		servlets mus be disjoint. Our recommendation is that if you expecify X as 
		the provider, the url-pattern of the initiation servlet could be /AuthController/X, 
		and the url-pattern of the callback servlet must be /oauth2callback/X. -->

	<!-- SpotifyAuthController -->
	<servlet>
		<description />
		<servlet-name>SpotifyAuthController</servlet-name>
		<servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
		<init-param>
			<param-name>provider</param-name>
			<param-value>Spotify</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SpotifyAuthController</servlet-name>
		<url-pattern>/AuthController/Spotify</url-pattern>
	</servlet-mapping>

	<!--SpotifyOAuth2Callback -->

	<servlet>
		<description />
		<servlet-name>SpotifyOAuth2Callback</servlet-name>
		<servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
		<init-param>
			<param-name>provider</param-name>
			<param-value>Spotify</param-value>
		</init-param>
		<init-param>
			<param-name>onSuccess</param-name>
			<param-value>redirect:/pruebaSpotify.html</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SpotifyOAuth2Callback</servlet-name>
		<url-pattern>/oauth2callback/Spotify</url-pattern> <!--Url que tenemos que poner en el dashboard de spotify edit settings -->
	</servlet-mapping>
	
		<!-- All REST resources will be prefixed by /api  -->
	<context-param>
		<param-name>resteasy.servlet.mapping.prefix</param-name>
		<param-value>/api</param-value>
	</context-param>

	<!-- Servlets -->
	<servlet>
		<servlet-name>Resteasy</servlet-name>
		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>aiss.api.AgentaApplication</param-value>
		</init-param>
	</servlet>		
	
	<!-- Servlet mappings -->
	<!-- All calls to /api/xxx will be sent to the resteasy servlet -->
	<servlet-mapping>
		<servlet-name>Resteasy</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
	
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>


</web-app>